@import 'styles/variables/all';
@import 'styles/global/all';
@import 'styles/layout.scss';

// UI components
@import 'styles/components/mixins.scss';
@import 'styles/components/input.scss';

:global {
  #app {
    background: #eff6fc;
  }

  .page-header {
    background: #d9e9f7;
  }

  .aside {
    .container {
      background: white;
    }
  }

  .main {
    .container {
    }
  }

  .page-footer {
    background: #d9e9f7;
  }
}
